<header ui-view="navbar" class="fixed-nav"></header>
<div class="content-wrapper">
  <!-- *********************************************************************************** 
  **                                        HOME 
  ***********************************************************************************  -->
  <div id="home" class="home-wrapper">
    <div class="cover-image"></div>
    <h1 id="full-name" meta="Clive Machado">Clive Mac</h1>
    <h1 id="current-title" class="animated fadeInUp">Application Engineer</h1>
  </div>
  <!-- *********************************************************************************** 
  **                                        ABOUT
  ***********************************************************************************  -->
  <div id="about" ng-app="amz-cen.about">
    <div ng-controller="about-mod-ctrl" class="about-wrapper">
      <h1 class="div-title">{{aboutMe.title}}</h1>
      <p class="about-description">{{aboutMe.description}}</p>
      <p class="about-other-description">{{aboutMe.otherDescription}}</p>      
    </div>
  </div>
  <!-- *********************************************************************************** 
  **                                      PORTFOLIO 
  ***********************************************************************************  -->
  <!-- <div id="portfolio">
    This is portfolio
  </div> -->
  <!-- *********************************************************************************** 
  **                                        BLOG 
  ***********************************************************************************  -->
  <!-- <div id="blog">
    This is blog
  </div> -->
  <!-- *********************************************************************************** 
  **                                       CONTACT 
  ***********************************************************************************  -->
  <div id="contact" ng-app="amz-cen.contact">
    <div class="contacts-wrapper" ng-controller="contact-mod-ctrl">
      <h1 class="div-title" ng-hide="isFormSent">Let's get in touch</h1>
      <h1 class="div-title" ng-show="isFormSent">Awesome!</h1>              
      <form id="contact-form" ng-hide="isFormSent">
        <span ng-hide="formSending">
          <input type="text" class="form-input" placeholder="*Name" required ng-model="name" ng-disabled="formSending">
          <input type="text" class="form-input" placeholder="*Email Address" required ng-model="email" ng-disabled="formSending" ng-class="{ 'error-input' : errorEmail }">      
          <input type="text" class="form-input" placeholder="Phone" ng-model="phone" ng-disabled="formSending" ng-class="{ 'error-input' : errorNumber }">
          <input type="text" class="form-input" placeholder="*Subject" required ng-model="subject" ng-disabled="formSending">                      
          <textarea type="text" class="contact-message form-input" placeholder="*Your Message" required ng-model="message" ng-disabled="formSending"></textarea>
          <button class="contact-submit-btn" ng-click="submitFormData()">
            <span><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
            Send
          </button>
        </span>
        <span class="form-sending-loader" ng-show="formSending">
          <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
          <p class="div-title">Please hold on {{ name }}</p>        
        </span>          
      </form>
      <div class="afterFormSent" ng-show="isFormSent">
        <p class="div-title">Thanks {{ name }} for contacting me, I'll get back to you as fast as I can. Cheers!</p>
        <button class="contact-submit-btn" ng-click="sendFormAgain()">
          <span><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
          Send Again
        </button>
      </div>
    </div>
  </div>
  <!-- *********************************************************************************** 
  **                                       FOOTER 
  ***********************************************************************************  -->
  <div id="footer">
    <a href="https://www.facebook.com/clivemchd" target="_blank" title="Facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>    
    </a>
    <a href="https://twitter.com/clivemchd" target="_blank" title="Twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>    
    </a>
    <a href="https://www.linkedin.com/in/clive-machado-a71354a0/" target="_blank" title="Linkdin">
      <i class="fa fa-linkedin" aria-hidden="true"></i>       
    </a>
    <a href="https://stackoverflow.com/users/7566608/clive-mac" target="_blank" title="Stack Overflow">
      <i class="fa fa-stack-overflow" aria-hidden="true"></i>    
    </a>
    <a href="https://github.com/clivemchd" target="_blank" title="Github">
      <i class="fa fa-github" aria-hidden="true"></i>       
    </a>
  </div>
</div>

