<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="http://res.cloudinary.com/macdev/image/upload/c_crop,g_face,h_1800,q_auto:best,r_max,w_1800,x_834/v1515457896/IMG_20171223_120238_717_kgoy50.jpg" alt="my-pic" class="brand-img">
      </a>
    </div>  
    <div id="navBar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="navbar('home')" data-toggle="collapse" data-target=".navbar-collapse.in">HOME</a></li>
        <li><a ng-click="navbar('about')" data-toggle="collapse" data-target=".navbar-collapse.in">ABOUT</a></li>
        <li><a ng-click="navbar('portfolio')" data-toggle="collapse" data-target=".navbar-collapse.in">PORTFOLIO</a></li>        
        <li><a ng-click="navbar('blog')" data-toggle="collapse" data-target=".navbar-collapse.in">BLOG</a></li>
        <li><a ng-click="navbar('contact')" data-toggle="collapse" data-target=".navbar-collapse.in">CONTACT</a></li>
      </ul> 
    </div>
  </div>
</nav>
