.home-wrapper {
  height: 650px;
}

.cover-image {
  height: 1000px;
  position: fixed;  
  background: url('/assets/img/home-bg.svg');  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  position: fixed;
  width: 100%;
  z-index: -1;
}

.home-wrapper h1 {
  color: #ffffff;
  margin: 0px;
  text-align: center;
}

#full-name {
  padding-top: 250px;
  font-family: 'Montserrat-Regular';
  font-size: 40px;
  letter-spacing : 6px;
}

#current-title {
  padding-top: 8px;
  font-weight: 300;
  font-family: 'Montserrat-UltraLight';
  font-size: 25px;
  letter-spacing: 5px;
}


