@media only screen and (max-width: 767px) {
  
  .fixed-nav {
    z-index: 50;
  }

  /* For tablet & mobile view center the brand image in navbar */
  .navbar {
    position: relative;
  }
  .brand-img {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
  }
  /* Changes navbar background color in tablet & mobile view*/
  .navbar-default {
    transition: background 3s ease;
    background: #333;
  }
  /* Changes the color of nav link to white */
  #navBar li a {
    color: #bcbcbc;
  }

  .cover-image {
    height: 800px;
  }

  #full-name {
    padding-top: 190px;    
  }

  #contact-form .form-input {
    width: 80%
  }
}