/* removes default border bottom provided by bootstrap*/
.navbar {
  border: none;
  margin-bottom: 0px;
  border-radius: inherit; 
}
/* Removes default border top & a box shadow provided by bootstrap*/
.navbar-collapse {
  border: none;
  -webkit-box-shadow: none;
}
/* Makes the navbar background transparent*/
.navbar-default {
  background:  #211e48;
}
/* Removes background color and border for toggle button in navbar-header*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
 background-color: transparent;  
}
.navbar-default .navbar-toggle {
  border: none;
}
/*Sets color to toggle button icon-bar in navabar */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d3d3d3;
}
/* Adds margin left to toggle button in navbar */
.navbar-toggle {
  margin-left: 15px;
}

