/** Adds fade in load effect to the website */
html, body {
  animation: fadein 1s linear;
}

@keyframes fadein {
  0% { 
    opacity: 0; 
  }
  50% { 
    opacity: 0.5; 
  }
  100% { 
    opacity: 1; 
  }
}

/** Removes all outlines that appear in firefox after clciking the anchor tag */
a {
  outline: none;
  text-decoration: none
}

a:hover {
  text-decoration: none;
  outline: none;  
}

a:active {
  text-decoration: none;
  outline: none;  
}

a:focus {
  text-decoration: none;
  outline: none;  
}

.main-page-loader {
  color: #ffffff;
  font-size: 5em;
  text-align: center;
  position: relative;
  top: 100px;
  display: block;
}

/* Applies only when main-page-loader is switched on */
.body-color {
  background: chocolate;
}

#about, #contact {
  min-height: 400px;
  background: #ffffffe6;
  padding: 4%;
}

/*********************************************************************************
*                                       ABOUT
*********************************************************************************/

#about {
  margin-bottom: 205px;
}

.about-wrapper {
  margin: 0px;
  text-align: center;
}

.div-title {
  padding-top: 50px;
  font-family: 'OpenSans-Light', sans-serif !important;
  color: #252525;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  font-size: 3em;
}

#about p {
  font-size: 21px;
  font-family: 'OpenSans-Light', 'Helvetica', 'Arial', sans-serif;
  color: #808087;
  font-weight: 400;
  line-height: 1.8;
  margin: 0% 17%;
}

.about-description {
  padding-top: 30px;
}

.about-other-description {
  padding-top: 30px;  
}

/*********************************************************************************
*                                       CONTACT
*********************************************************************************/
.contacts-wrapper {
  text-align: center;
}

#contact-form .form-input {
  font-weight: 300;
  color: #999;
  opacity: 1;
  height: 48px;
  padding: 8px 4px;
  font-size: 21px;
  letter-spacing: 1px;
  background-color: transparent !important;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 1px solid #b3b3b3;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 2%;
  width: 40%;
}

#contact-form .contact-message {
  width: 85%;
  resize: none;
}

.contact-submit-btn {
  background: transparent;
  letter-spacing: 2.5px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 9px;
  width: 200px;
  display: block;
  text-align: center; 
  margin: 0 auto;
  margin-top: 30px;
}

.contact-submit-btn:hover {
  background: #32d9b8;
  color: white;
  box-shadow: 1px 3px 17px 0 rgba(0, 0, 0, 0.15);
  transition: all .20s ease-in-out;
  transform: scale(1.05, 1.05);
}

.afterFormSent p {
  font-size: 21px;
  font-family: 'OpenSans-Light', 'Helvetica', 'Arial', sans-serif;
  color: #808087;
  font-weight: 400;
  line-height: 1.8;
}

.form-sending-loader {
  font-size: 50px;
  color: #8cffb6;
}

.form-sending-loader p {
  font-size: 21px;
  font-family: 'OpenSans-Light', 'Helvetica', 'Arial', sans-serif;
  color: #808087;
  font-weight: 400;
  line-height: 1.8;
}

/*********************************************************************************
*                                       FOOTER
*********************************************************************************/

#footer {
  text-align: center;
  height: 100px;
  background: #000000;
}

#footer i {
  padding: 0px 3px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 40px;
}

#footer i:hover {
  color: #333;  
}


