/** Adds fade in load effect to the website */
html, body {
  animation: fadein 1s linear;
}

@keyframes fadein {
  0% { 
    opacity: 0; 
  }
  50% { 
    opacity: 0.5; 
  }
  100% { 
    opacity: 1; 
  }
}

/** Removes all outlines that appear in firefox after clciking the anchor tag */
a {
  outline: none;
}

#about, #contact {
  height: 400px;
  background: #ffffffe6;
}

/*********************************************************************************
*                                       ABOUT
*********************************************************************************/

#about {
  margin-bottom: 205px;
}

.about-wrapper {
  margin: 0px;
  text-align: center;
}

.about-title {
  padding-top: 50px;
  font-family: 'OpenSans-Light', sans-serif !important;
  color: #252525;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  font-size: 3em;
}

#about p {
  font-size: 21px;
  font-family: 'OpenSans-Light', 'Helvetica', 'Arial', sans-serif;
  color: #808087;
  font-weight: 400;
  line-height: 1.8;
  margin: 0% 17%;
}

.about-description {
  padding-top: 30px;
}

.about-other-description {
  padding-top: 30px;  
}

/*********************************************************************************
*                                       Contacts
*********************************************************************************/
.contacts-wrapper {
  text-align: center;
}

#footer {
  height: 100px;
  background: #000000;
}


